:root{
    --color-primery-bcg: #f5f5f5;
    --color-font-default: #676767;
    --color-bcg-accent: #212ea0;

    --color-font-light: #ffffff;
    --color-font-subtitle: #000f38;
    --color-font-title: #212ea0;


    --color-bcg-input: #ebecfe;

    --color-bcg-btn: #ffffff;
    --color-font-btn: #212121;
}