.about {
  margin: 50px auto;
}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 90%; */
  margin: 0 auto;
}

.about__left {
  flex-basis: 40%;
  position: relative;
}

.about__img {
  width: 100%;
  border-radius: 10px;
}

.about__play {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.about__right {
  flex-basis: 56%;
}

.about__title{
    font-size: 16px;
    color: var(--color-font-title);
    margin-bottom: 10px;
}

.about__subtitle{
    font-weight: 600;
    font-size: 35px;
    line-height: 1.3;
    max-width: 400px;
    color: var(--color-font-subtitle);
    margin-bottom: 10px;
}

.about__text {
    margin-bottom: 10px;
    line-height: 1.4;
}

/* MEDIA QUERY */

@media (max-width: 650px){
  .about__inner{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .about__left{
flex-basis: 100%;
  }

  .about__right {
  flex-basis: 100%;
}
}